@model CruiseEntertainmentManagnmentSystem.Models.BookingType

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <h4 class="page-heading text-center">Booking Type</h4>
</div>


@using (Html.BeginForm("Create","BookingType",FormMethod.Post,new{@class="uk-form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Create" class="btn" style=" margin-left: 19px;"/><span></span>
        <a href="#" onclick="goToPrevious('@ViewBag.ReturnUrl')">Back to List</a>
        @*@Html.ActionLink("Back to List", "Index")*@
    </div>       
    <br /><br />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
