@model CruiseEntertainmentManagnmentSystem.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

    @Html.ValidationSummary()
<div class="change-password">
    <div class="row">         
    <span id="close" class="glyphicon glyphicon-remove pull-right remove"></span>
    </div>
    <fieldset>
        <legend class="chng-paswrd">Change Password Form</legend>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "col-md-6" })
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "col-md-6" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-md-6" })
            </div>


            <div class="col-md-5 col-md-offset-4">
                <div class="form-group">
                    <input type="button" id="btnChangePassword" value="Change password" class="uploadImage" />
                </div>
            </div>
        </div>
    </fieldset>

</div>
   
<script>

    $(document).on('click', '#btnChangePassword', function () {
        var obj = {};
        obj.OldPassword = $('#OldPassword').val();
        obj.NewPassword = $('#NewPassword').val();
        $('#loadingDiv').css('display', 'block');
        $.ajax({
            url: "/Account/ChangePassword",
            type: "POST",
            data: { model: obj },
            success: function (data) {
                if (data == 0) {
                    alert('something went wrong try again after sometime.');
                }
                else
                {
                    alert('Password changed successfully.');
                    window.location.href = "/Account/Login";
                    //$('#Datacontainer1').html("");
                    //$('#overLay1').css('display', 'block');
                }
                $('#loadingDiv').css('display', 'none');
                $('#overLay1').css('display', 'none');
                
            },
            error: function (err) {

                alert(err.statusText);
            }

        });
    });
</script>