@model CruiseEntertainmentManagnmentSystem.Models.LocalPasswordModel

<h3>Change password</h3>

    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="button" id="btnChangePassword" value="Change password" />
    </fieldset>

<script>

    $(document).on('click', '#btnChangePassword', function () {
        var obj = {};
        obj.OldPassword = $('#OldPassword').val();
        obj.NewPassword = $('#NewPassword').val();
        $('#loadingDiv').css('display', 'block');
        $.ajax({
            url: "/Account/ChangePassword",
            type: "POST",
            data: { model: obj },
            success: function (data) {
                if (data == 0) {
                    alert('something went wrong try again after sometime.');
                }
                else
                {
                    $('#Datacontainer1').html("");
                    $('#overLay1').css('display', 'block');
                }
                $('#loadingDiv').css('display', 'none');
                
            },
            error: function (err) {

                alert(err.statusText);
            }

        });
    });
</script>