<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/menustyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-2.2.0.min.js"></script>*@
    <link href="~/Content/CCStyle.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
    <script src="~/Scripts/gridmvc.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Schedule.js"></script>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    @*@Styles.Render("~/Content/css")*@
    <script src="~/Scripts/CustomCalendar.js"></script>
    <script src="~/Scripts/Contractors.js"></script>

    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Scripts/uikit.min.js"></script>
        <link href="~/Content/uikit.gradient.min.css" rel="stylesheet" />
        <link href="~/Content/uikit.min.css" rel="stylesheet" />*@

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <!-- Load jQuery JS -->
    <!-- Load jQuery UI Main JS  -->

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="~/Scripts/menuscript.js"></script>
    <script>

        $(document).ready(function () {

            $(".date").datepicker({
                changeMonth: true,//this option for allowing user to select month
                changeYear: true //this option for allowing user to select from year range
            });
        });
    </script>

    <link href="~/Content/jquery.editable-select.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.editable-select.min.js"></script>


</head>
<body>
    <div id="overLay" class="overLay" style="display:none">

        <div class="Datacontainer" id="Datacontainer">

        </div>
        <div id="ConContainer" class="setContract" style="display:none">

        </div>
    </div>

    <div id="overLay1" class="overLay" style="display:none">
        <div id="Datacontainer1">
        </div>
    </div>
    <div id="overLay2" class="overLay" style="display:none">
        <div id="conContainer" class="setContract">

        </div>
    </div>
    <div id="loadingDiv" class="overLay" style="display:none">

        <img src="~/Images/loading.gif" class="loadimg" />
    </div>
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class=" container-fluid content-wrapper" style="padding-left:0px;padding-right:0px;">
            <div class="row logo-box">
                <div class="col-md-3 text-left">
                    <img src="~/Images/logo1.png" class="logo" />
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
            <div class="row content-row">
               
                <div class="col-md-12" id="databox">
                    <div>                      
                        <section class="bg">
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </div>         
        </div>


        <footer>

            <input type="hidden" id="returnUrl" value="@ViewBag.returnURL" />
            <div class="content-wrapper">
            </div>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
