@model CruiseEntertainmentManagnmentSystem.Models.Groups

@{
    ViewBag.Title = "Group Edit";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
   
            <div class="row title">
                <p>Group</p>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.GroupName)
                    </div>
                    <div class="editol-field">
                        @Html.TextBoxFor(model => model.GroupName, new {@class="half" })
                        @Html.ValidationMessageFor(model => model.GroupName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editol-field">
                        @Html.TextBoxFor(model => model.Description, new { @class = "half" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>

                    <div>

                        <br />
                        <div>
                            <input type="submit" value="Save" class="btn" />
    <a href="#" onclick="goToPrevious('@ViewBag.ReturnUrl')">cancel</a>@*@Html.ActionLink("Cancel", "Index")*@
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>


    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
