@model CruiseEntertainmentManagnmentSystem.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title pad">@ViewBag.Title</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin :10px;">

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new  {@class="onefourth" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address, new { @class = "onefourth" })
          
        </div>
        <div class="editor-label">
            <label>Pay</label>
        </div>
        <div class="editor-field">
            <input type="number" id="Payrate" name="Payrate" value="0" min="0" class="onefourth" />               
        </div>


    </fieldset>

    <div class="row">
        <input type="submit" value="Create" class="btn" style=" margin-left: 19px;" /><span></span>
        <a href="#" onclick="goToPrevious('@ViewBag.ReturnUrl')">cancel</a>
        @*@Html.ActionLink("Back to List", "Index")*@

    </div>
    <br /><br />

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
