@model CruiseEntertainmentManagnmentSystem.Models.Contractor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Contractor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitiatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitiatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.position)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.position)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ship)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ship)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Shows)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shows)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Term)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Term)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaseSalary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaseSalary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Days_On_Land)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Days_On_Land)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Per_Diem_On_Land)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Per_Diem_On_Land)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Days_OnBoard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Days_OnBoard)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Per_Diem_On_Board)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Per_Diem_On_Board)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Per_Diem_On_Land)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Per_Diem_On_Land)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Per_Diem_On_Board)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Per_Diem_On_Board)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Per_Diem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Per_Diem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total_Fee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total_Fee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Payment_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payment_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Payment_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payment_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Payment_2_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payment_2_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Day_Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Day_Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TampaDates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TampaDates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shipDates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shipDates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
