@model IEnumerable<CruiseEntertainmentManagnmentSystem.ViewModel.PerformerViewmodel>

@{
    ViewBag.Title = "Performers";
}
<h3 class="text-center page-heading">@ViewBag.Title</h3>
<br />
<a href="#" onclick="goToCreate('/Performers/create')">Create New</a>
 @*@Html.ActionLink("Create New", "Create",null, new {@class="create-link"})*@

<div id="dataContainer">
       @Html.Action("GetPerformers")
</div>

@*@{
    ViewBag.Title = "Performers";
}

<h2>@ViewBag.Title.</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
